<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <meta property="og:title" content="Sweeter Project" />
  <meta property="og:description" content="Mini Web For Final Project" />
  <meta property="og:image" content="{{ url_for('static', filename='ogimage.jpg') }}" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Secret Page | Sweeter</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

</head>

<body>

  <body class="has-navbar-fixed-top">

    <nav class="navbar is-fixed-top is-white" role="navigation" aria-label="main-navigation">
      <div class="navbar-brand">
        <a href="/" class="navbar-item">
          <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo Sparta">
          <strong class="is-sparta logo-text">
            SWEETER
          </strong>
        </a>
      </div>
    </nav>

    <section class="hero">
      <div class="hero-body">
        <p class="title is-sparta">
          Secret Page
        </p>
        <p class="subtitle">
          You need to be logged to see this!
        </p>
        <p class="subtitle">{{ user_info.profile_name }}</p>
      </div>
    </section>

  </body>

</html>